body {
  background-color: blue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  margin: 20px;
  text-align: center;
  color: #87F717;
  padding: 100px;
  border-radius: 20px;
  background-image: url("https://www.nba.com/.element/media/2.0/teamsites/timberwolves/media/1718-Wallpaper-AEN-1024x768.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/* .container {
  display: flex;
  width: 25%;
} */

/* .headerDiv {
  display: flex;
} */

#message {
  position: absolute;
  left: 200px;
  top: 15px;
}

#welcome {
  position: absolute;
  right: 200px;
  top: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


